:root {
    --main-color: #6A9448;
    --pane-padding: 5px 42px;
  }
  
body{
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: var(--main-color);
    background: rgb(35,68,9);
    background: linear-gradient(190deg, rgba(35,68,9,1) 0%, rgba(57,96,25,1) 34%, rgba(83,130,44,1) 65%, rgba(96,136,64,1) 84%, rgba(147,180,120,1) 100%);
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    caret-color: black;
}
h1{
    color: white;
    text-shadow:20px 5px 50px black;
}
/* background: rgb(106,148,72);
    background: linear-gradient(190deg, rgba(106,148,72,1) 0%, rgba(106,148,72,1) 34%, rgba(140,177,110,1) 65%, rgba(139,172,113,1) 84%, rgba(147,180,120,1) 100%);*/
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1890px;
    height: 150px;
    margin-bottom: 10px;
    
}
.logo-site{
    width: 100px;
    height: 100px;
    border: 4px rgb(38, 141, 44);
    border-style: double;
    border-radius: 60px;
    background-color: white;
    margin: 20px;
    animation-name: rotateLogo;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    box-shadow: 0px 0px 30px rgb(255, 255, 0);
}
@keyframes rotateLogo {
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1650px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    margin-left: 60px;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 2px 2px;
    font-size: 20px;
}

.nav-menu a{
    display: block;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin:0px 10px 0px 10px ;
    transition: 0.5s;
}
.nav-menu a:hover{
    transform: scale(1.2);
}
#buttonPerfil{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    transition: 1s;
    box-shadow: 0px 0px 10px rgb(102, 255, 102);
}
#buttonPerfil:hover{
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(102, 255, 102);
    padding: 0 1%;
    color:rgb(102, 255, 102);
    text-shadow:0px 0px 10px white;
}
/*----------------------------BOX--------------------------------*/
#boxL{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    display: none;
    color: white;
    font-weight: bold;
    transition: 1s;
    animation-name: firstSh;
    animation-timing-function: linear;
    animation-duration: 0.8s;
}
@keyframes firstSh {
   0%{
    transform: scale(0.0);
   }
   100%{
    transform: scale(1.0);
   }
    
}
.first-box{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    transition: 1s;
    animation-name: firstSh;
    animation-duration: 0.8s;
}
.login{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 400px;
    background-color: #82ad5f;
    padding: 30px;
    border-radius: 20px;
}
.login label{
    width: 70%;
    margin: 4%;
}
input{
    width: 70%;
    border-radius: 20px;
    border-style: none;
    outline: 1px solid black;
    outline-offset: 3px;
    outline-style: double;
}
#button-skip{
    height: 70px;
    font-size: 45px;
    border: none;
    background-color: #82ad5f;
    border-radius: 0px 90% 90% 0px;
    transition: 0.5s;
}
#button-skip:hover{
    color: white;
    transform: scale(1.2);
}
#secondBox{
    display: flex;
    display: none;
    flex-direction: column;
    width: 15%;
    height: 400px;
    background-color: #82ad5f;
    padding: 30px;
    border-radius: 20px;
    margin-left: 20px;
    transition: 1s;
    animation-name: firstSh;
    animation-timing-function: linear;
    animation-duration: 0.8s;
}
/*-------------------------------------CARD1------------------------------------*/
.card1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 730px;
    max-width: 100%;
}
/*------------------------------------------CARD2-----------------------------*/
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;
    max-width: 100%;
}
#calculater{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 300px;
}
#calculater input{
    height: 20px;
    width: 250px;
    margin: 10px;
    border-style: none;
}
#calculater label{
    text-align: center;
    padding: 10px;
    height: 20px;
    width: 150px;
    margin: 10px 5px 15 10px ;
}
.opperatMath{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#butt-math{
    height: 50px;
    width: 70px;
    border-radius: 50%;
    border-style: none;
}
/*------------------------------------------CARD3------------------------------*/
.card3{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 730px;
    max-width: 100%;
}
/*-----------------------------------IMG-SLIDE------------------------------*/
.container-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height:500px;
    margin: 100px 0px 100px 0px;
    width: 900px;
}
.container-img img{
    transition:0.5s;
    border: 2px solid black;
    border-radius: 5px;
}
.-img{
    width: 500px;
    height: 500px;
}
/*-----------------------------------SLIDE----------------------------------*/
.slide{
    display: block;
    height: 550px;
    width: 850px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.slide li{
    list-style: none;
    position: absolute;
}
.slide img{
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.slide input{
    display: none;
}
.slide label{
    background-color: rgb(255, 255, 255);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    border-radius: 50% 10% 20% 50%;
    transition: 0.5s;
}
.slide label:hover{
    background-color: rgb(139, 139, 139);
}
.slide li:nth-child(1) label{
    left: 10px;
}
.slide li:nth-child(2) label{
    left: 40px;
}
.slide li:nth-child(3) label{
    left: 70px;
}
.slide img{
    opacity: 0;
    visibility: hidden;
}
.slide li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
/*--------------------------------------CARDS------------------------------------------*/

.text-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 420px;
   
}
.caixa-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    color: white;
    font-style: italic;
   
}
.caixa-text h2{
    font-size: 25px;
}
.linha-text{
    height: 1px;
    width: 195px;
    background-color: black;
}
.linha-divisao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.linha---{
    height: 2px;
    width: 1700px;
    background-color: white;
}
.text-intro{
    text-align: left;
    font-size: large;
    width: 85%;
    line-height: 28px;
    
}
.text-intro a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.text-intro a span:hover{
    color: goldenrod;
}
/*----------------------FOOTER---------------------*/
.footer-text{
    font-size: 12px;
    color: rgb(54, 54, 54);
}
.footer-text a{
    text-decoration: none;
    color: rgb(94, 94, 94);
}
.footer-text a:hover{
    color: white;
}
.footer-page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    background-color: rgb(59, 59, 59);
}
.footer-content{
    font-size: 20px;
    width: 30%;
    margin: 3%;
    color: white;
}

/*--------------------button-scroll------------------------*/
button{
    position: relative;
}
#btnScroll{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 9999;
    outline: none;
    background-color: rgb(84, 131, 94);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    padding: 15px;
    border-style: none;
    border-radius: 50px;
}
#btnScroll:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(80, 179, 80);
}

.divResponsive{
    display: flex;
    justify-content: center;
    background-color: wheat;
    width: 100px;
    height: 100px;
    margin: 200px;
    animation: responsive 2s linear infinite;
    transition: 1s;
    position: relative;
}

/*------------------------------PROGRESS--------------------------*/
.progress{
    height: 3px;
    width: 0%;
    background-color: rgb(255, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    animation:progresss 1s linear;  
}
@keyframes progresss {
    to{
        background-color: orange;
        width: 100%;
    }    
}
/*.descric{
    display: none;
    background-color: antiquewhite;
}
.item:hover .descric{
    display: block;
}
*/
.redes-soci{
    list-style: none;
}
.redes-soci li a{
    text-decoration: none;
    color: white;
}
.redes-soci li a:hover{
    color: yellow;
}
